@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, .3);
}

.container.active {
    display: block;
}

body {
    background-color: #ffebd1 !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
}

.header {
    font-weight: bold;
    background-color: #2ec4b6;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    flex: 1;
    width: 100%;
}

.nav {
    background-color: #ffbf69;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav ul li {
    font-weight: bold;
    margin: 0 15px;
    color: #000;
    font-size: larger;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.nav ul li:hover {
    background-color: #ff9f1c;
}

.sidebar {
    position: sticky;
    top: 0;
    width: 200px;
    background-color: #fff3e3;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh;
    z-index: 100;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px;
    cursor: pointer;
    font-size: larger;
}

.sidebar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    color: #007BFF;
}

.content {
    background-color: #ffffff00;
    padding: 20px;
    max-width: 80vw;
    width: 100%;
    margin: 20px;
    margin-bottom: 5%;
    flex: 1;
}

.content .inner {
    background-color: #fff3e3;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    max-width: 80vw;
    width: 100%;
    margin: 20px;
    animation: fadeIn 1s ease-in-out;
    flex: 1;
}

h2 {
    color: #2ec4b6;
    text-align: center;
    padding: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.skill-bar {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.skill-bar span {
    flex: 1;
    width: 20px;
}

.skill-bar .bar {
    flex: 3;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
}

.skill-bar .bar-inner {
    height: 20px;
    background-color: #4caf50;
    width: 0;
    transition: width 1s;
}

.skill-box {
    margin: 10px 0;
}

.box {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    margin-right: 5px;
}

.box.filled {
    background-color: #4caf50;
}

.footer {
    background-color: #2ec4b6;
    color: white;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 101;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.footer ul li {
    font-weight: bold;
    margin: 0 10px;
    color: #000;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.icon-large {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}

.icon-space {
    margin-right: 8px;
}

.image-box {
    display: flex;
    position: relative;
    margin-bottom: 50px;
}

.centered {
    justify-content: center;
    align-items: center;
}

.image-text {
    width: 50%;
    height: auto;
}

.image-small {
    height: 40vw;
    width: auto;
}

.zertifikat {
    width: 75%;
    height: auto;
}

.text-overlay {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    max-width: 45%;
    text-align: center;
}

.text-overlay h1, .text-overlay p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.zeitstrahl {
    position: relative;
    max-width: 80vw;
    margin: 20px auto;
}

.zeitstrahl::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #2ec4b6;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container-zeitstrahl {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container-zeitstrahl.left {
    left: 0;
}

.container-zeitstrahl.right {
    left: 50%;
}

.container-zeitstrahl::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #2ec4b6;
    border: 4px solid #FF9F1C;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.right::after {
    left: -16px;
}

.content-zeitstrahl {
    padding: 20px 30px;
    background-color: #fff3e3;
    position: relative;
    border-radius: 6px;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.tab button {
    background-color: #2ec4b6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-right: 10px;
}

.tab button.active {
    background-color: #ff9f1c;
}

.tab button:hover {
    background-color: #ff9f1c;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

.skill-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.skill-box span {
    width: 100px;
    margin-right: 10%;
}

.boxes {
    display: flex;
    align-items: center;
}

.box {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    margin-right: 5px;
}

.box.filled {
    background-color: #4caf50;
}

.portfolio-slider {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    flex: 1;
    display: flex;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.slide-content h3 {
    margin: 0;
    font-size: 20px;
}

.slide-content p {
    margin: 5px 0 0;
    font-size: 14px;
}

.prev-slide, .next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.prev-slide {
    left: 10px;
}

.next-slide {
    right: 10px;
}

.hobbys-pc {
    display: block;
}

.hobbys-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .main-content {
        flex-direction: column;
    }

    .sidebar {
        position: static;
        width: 100%;
        height: auto;
        box-shadow: none;
        margin-top: 10px;
    }

    .content {
        max-width: 100%;
        margin: 10px;
    }

    .content .inner {
        max-width: 100%;
        margin: 10px 0;
    }

    .content .inner h2{
        text-overflow: clip;
    }

    .header {
        padding: 15px 0;
    }

    .footer {
        padding: 5px 0;
        position: static;
    }

    .footer ul {
        flex-direction: column;
        align-items: center;
    }

    .footer ul li {
        margin: 5px 0;
        padding: 3px 10px;
        font-size: 14px;
    }

    .tab button {
        font-size: 14px;
        padding: 8px 12px;
    }

    .skill-bar span {
        font-size: 14px;
    }

    .slide-content {
        position: relative;
        background-color: transparent;
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
    }

    .prev-slide, .next-slide {
        top: auto;
        bottom: 10px;
        transform: none;
    }

    .slides {
        width: 100%;
    }

    .portfolio-slider {
        max-width: 100%;
    }

    .image-text, .text-overlay {
        width: 100%;
        position: relative;
        transform: none;
        margin: 10px 0;
        padding: 10px;
        max-width: 100%;
    }

    .zeitstrahl::after {
        left: 20px;
    }

    .container-zeitstrahl {
        width: 100%;
        padding-left: 60px;
        padding-right: 15px;
    }

    .container-zeitstrahl.left::after, .container-zeitstrahl.right::after {
        left: -30px;
    }

    .container-zeitstrahl.right {
        left: 0;
    }

    .skill-box span {
        width: 100px;
        margin-right: 25%;
    }

    .hobbys-pc {
        display: none;
    }

    .hobbys-mobile {
        display: block;
    }
}
